.calc-icon:before {
  width: 3rem;
  height: 3rem;
  position: absolute;
  content: "";
  background: url(calc_icons.png) no-repeat;
  background-size: 3rem 192rem;
}

button.calc-icon,
a[role="button"].calc-icon {
  padding: 0 2rem 0 4rem;
  text-align: left;
  position: relative;
  color: #717171;
}

button.calc-icon:before,
a[role="button"].calc-icon:before {
  left: 0.5rem;
  top: 0.3rem;
}

section[role="region"] > header:first-child .icon.calc-icon:before {
  top: 1rem;
  left: 0;
}

section[role="region"] > header:first-child menu[type="toolbar"] a:last-child .icon.calc-icon:before,
section[role="region"] > header:first-child menu[type="toolbar"] button:last-child .icon.calc-icon:before {
  top: 1rem;
  left: 0;
}

section[role="region"] > header:first-child > button .icon.calc-icon:before,
section[role="region"] > header:first-child > a .icon.calc-icon:before {
  left: -0.5rem;
}

[role="toolbar"] button {
  position: relative;
}

[role="toolbar"] .calc-icon:before {
  left: 1.25rem;
  top: 0.5rem;
}

[data-type="list"] aside.icon {
  top: 1.5rem;
  height: 4.5rem;
}

[role="tablist"].bottom > [role="tab"] > a.calc-icon:before {
  top: 0.5rem;
}

[aria-disabled="true"] .calc-icon:before,
[disabled].calc-icon:before {
  opacity: 0.3;
}

/* calculations are based on base font size of 10px
 * so 30px are 3rem
 * If font size increases on higher resolution displays
 * the background bitmap is automatically steched
 */

.menu:before { background-position:  -0px -0rem; }
.menu-black:before { background-position:  -0px -3rem; }
.back-white:before { background-position:  -0px -6rem; }
.back-gray:before { background-position:  -0px -9rem; }
.back-black:before { background-position:  -0px -12rem; }
.settings:before { background-position:  -0px -15rem; }
.pause:before { background-position:  -0px -18rem; }
.unused:before { background-position:  -0px -21rem; }
.unused2:before { background-position:  -0px -24rem; }
.unused3:before { background-position:  -0px -27rem; }
.unused4:before { background-position:  -0px -30rem; }
.stop:before { background-position:  -0px -36rem; }
.play:before { background-position:  -0px -39rem; }
.pause:before { background-position:  -0px -42rem; }

.ut-wifi:before { background-position:  -0px -1860px; }
.ut-wifi:hover:before,
.ut-wifi:active:before { background-position:  -0px -1890px; }
