@import url(icons/calc_icons.css);
@import url(bb/lists.css);
@import url(bb/switches.css);
/*
 * Initializing defaults for html and body tags
 */
html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-weight: normal;
  color: #FFF;
  background-color: #000;
}

body {
  margin: 0;
  padding: 0;
/*  height: 100%; */
  display: block;
  overflow: hidden;
  font-family: "fira sans", "sans-serif", "Microsoft Sans Serif";
}


/*
 * This are the fixed settings for display size lt. 460px (=480px display - 20px status display)
 * Should only occur when screen keyboard is displayed
 */

/*
 * overrides calc_icons.css for better position of menu icon
 */

.menu:before {
  background-position: 0px 0.2rem;
 }

/*
 * Headline for application Name
 */

header {
  position: relative;
  width: 100%;
  display: block;
  padding: 0;
  height: 100%;
  border: none;
}

header.fixed {
  position: absolute;
}

/*
header:first-child {
  border: none;

}
*/
header h1 {
  font-size: 2rem;
  height: 32px;
  line-height: 32px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  padding: 0 1rem;
  font-weight: 300;
  text-align: center;
}

header:first-child a.btn-notext, section[role="region"] > header:first-child button.btn-notext {
    text-align: unset;
    vertical-align: middle;
    font-size: 0px;
    display: block;
}

/*
 * Result display
 */

section .display {
  text-align:right;
  background-color: #222;
  border: 1px solid #222;
  margin: 0px 2px;
  padding: 5px 5px;
}

.display #result {
  height: 55px;
  font-size: 4.5rem;
}

/*
 * Kelog history display
 */
#keylog {
  height: 16px;
  line-height: 16px;
  font-size: 1.5rem;
  color: yellow;
}

/*
 * The keyboard
 */

.convert-row {
  width: 300px;           /* 320px - 2*10px margin */
  margin: 5px 10px;
  display: table;
  table-layout: fixed;
  visibility: visible;
  height: 30px;
  margin-top: 5px;
}

.convert-description {
  display: table-cell;
  width: calc(2rem * 7);
  padding-left: 20px;
  margin: 0 5px;
  font-size: 2rem;
  overflow:hidden;
  vertical-align: middle;
  box-sizing: border-box;
}
.convert-btn {
  display: table-cell;
  font-size: 2rem;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 0px 3px;
  border: 1px solid;
  margin: 0 5px;
  border-radius: 10px;
  background: transparent;
  color: white;
}

section .keypad {
  width: 300px;           /* 320px - 2*10px margin */
  height: calc(100% - 0rem);
  margin: 0px 10px;
  display: table;
  table-layout: fixed;
}

.keypad-row {
  display: table-row;
}
.keypad-button {
  display: table-cell;
  height: 62px;
  width: 63px;
  font-size: 3.0rem;
  font-weight: 400;
  margin: 0 -3px 0 0;
  border: 1px solid transparent;
  padding: 0px 0.5rem 0.9rem 0px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  border: 1px solid transparent;
  background: transparent;
  color: white;

}

/*
input {
  padding: 0px;
  margin: 0;
  color: white;
  background-color: black;
  background: transparent;
  font-weight: 400;
  font-size: 3rem;
  border: 1px solid transparent;
  display: table-cell;
  padding: 0px 0.5rem 0.9rem 0px;
  height: 62px;
  width: 63px;
  margin-right: -3px;
}
*/

/*
 * 'ZTE Open C' has physical display dimensions of 480 x 800 px
 * resulting in 320px x 533px
 * Subtract about 20px for status line on top - so 513px remaining for app
 *
 * 'Y' axis streching is calculated via 'vh' that depends on display height.
 */
@media (orientation: portrait) and (min-height: 461px) {

  /* 1.0vh = 4.6 px at hight 460px  = 5.15 px at 515px */

  html, body {
   font-size: 2.174vh;  /* increase base font-size - important for icon scaling */
  }

  header h1 {
/*    font-size: 4.3vh; */
    height: 6.96vh;
    line-height: 6.96vh;
  }

  section .display {
  }

  .display #result {
    height: calc(10.1vh + 9px);            /* 55px at 460px -> 61px at 515px */
/*    line-height: calc(10.1vh + 9px); */
  }

  #keylog {
    height: 3.5vh;                    /* 16px at 460px -> 18px at 515px */
/*    line-height: 3.5vh;                    /* 16px at 460px -> 18px at 515px */
/*    font-size: 3.25vh;               /* 1.5rem at 460px -> 1.68rem at 515px */
  }

  .keypad-button {
    height: calc(14vh - 2px);  /* 62px at 460px -> 70px at 515px */
    padding-bottom: 2vh;         /*  9px at 460px -> 10px at 515px */
/*    font-size: 6.5vh;               /* 3rem at 460px -> 3.3rem at 515px */
  }

}

/* 'X' axis streching is calculated via 'vw' that depends on display width.
 */
@media (orientation: portrait) and (min-width: 321px) {

  /* 1.0vw = 3.2 px at width 320px */

  html, body {
   font-size: 3.125vw;  /* increase base font-size - important for icon scaling */
  }

  header h1 {
/*    font-size: 6.25vw; */
  }

  .display #result {
/*    font-size: 14vw; */
  }

  #keylog {
/*    font-size: 5vw; */
  }

  .convert-row {
    width: calc(100% - 20px);           /* 300px ad width 320px */
  }

  section .keypad {
    width: calc(100% - 20px);           /* 300px ad width 320px */
  }

  .keypad-button {
    width: 19.69vw;           /* 63px at width 320px */
/*    font-size: 9.375vw;       /* 30px at 320px */
  }
}

/*
 * Test for landscape orientation but there must be a complet different
 * keyboard layout
 */
@media (orientation: landscape) and (min-width: 479px){

  html, body {
   font-size: 2.18vh;  /* increase base font-size - important for icon scaling */
    background-color: lightblue;

  }

  .app-name {
    display: none;
  }

  #result {
    height: calc(10.1vh + 9px);            /* 55px at 460px -> 61px at 515px */
    margin: 2px 2px 0px;
    padding: calc(8vh - 32px) 5px 5px;     /* 5px at 460px -> 11px at 515px */
  }

  .convert-row {
    width: calc(100% - 20px);           /* 300px ad width 320px */
  }
  .convert-btn {
    color: blue;
    border-radius: 25px;
    border-color: whitesmoke;
  }

  section .keypad {
    width: calc(100% - 20px);           /* 300px ad width 320px */
  }

  .keypad-button {
    color: blue;
    background-color: lightblue;
    width: calc(20% - 2px);
    height: calc(11.1vh);        /* 51px at 460px -> 57px at 515px */
    margin: 2px 1px;
    padding-bottom: 2vh;         /*  9px at 460px -> 10px at 515px */
    border: 2px solid;
    border-radius: 25px;
    border-color: whitesmoke;
  }

}

/*
 * Media independent settings
 */

/*
 * Background Color of active keys (while pressed
 */
input#button-key:active,
input#num-key:active,
input#oper-key:active,
input#compute-key:active,
input#spec-key:active,
input#clear-key:active,
.keypad-button:active,
.convert-btn:active {

  background: #0080FF;
}

/* Color of special keys (Clear all and Clear entry)
 */
input#clear-key{ /* old - remove when all input fields are converted */
  color: #f00;
}

#btn-clear,
#btn-del {
  color: red;
}

/* Color of compute key
 */
input#compute-key{
  color: #aaf;
  font-size: 4rem;  /* make this key larger '=' sign looks poor with normal font-size */
}

section[role="region"] {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%
}

/*
#main-view{
  position: relative;
}
*/

#settings-view{
  position: fixed;
}

.current[data-position="current"] {
  transform: translate(0, 0);
  transition: transform 0.5s ease, opacity 0.2s ease;
}
.current[data-position="top"] {
    transform: translateY(0%);
    transition: transform 0.5s ease 0s, opacity 0.2s ease 0s;
}
.top[data-position="top"] {
    transform: translateY(-100%);
    transition: transform 1.5s ease 0s, opacity 0.2s ease 0s;
}
/*
section[role="region"][data-position="top"] {
    transform: translateY(100%);
    z-index: 20;
}
*/
section[role="region"].skin-organic  {
  color: #868692;
  background-color: #F4F4F4;
}
/*
.content {
    height: calc(100% - 3.2rem);
    top: 3.2rem;
}
*/
/* from lists.css */
/* want the checkbox on right side */
[data-type="list"] [data-type="edit"] li > .pack-checkbox,
[data-type="list"] [data-type="edit"] li > .pack-radio,
[data-type="list"] [data-type="edit"] li > .pack-switch {
    pointer-events: auto;
/*    left: 0;      original value */
  left: calc(100% - 8%);
}
/* want the description on left side */
[data-type="list"] [data-type="edit"] li {
/*    padding-left: 4rem; original value */
  padding-left: 0px;
}
